body {
    background-color: peru;
    color: black;
}

h1 {
    color: black;
    text-align: center;
    margin: 10px;
    border: 1px solid limegreen;
    outline: 4px dashed yellowgreen;
    outline-offset: 5px;
}

#emo {
    text-align: center;
    color: black;
}

#emo2 {
    text-align: center;
}
.div1 {
    margin: 100px;
    width: 310px;
    height: 130px;
    background-color: yellowgreen;
    color: black;
    border: 2px solid black;
    transition: width 2s, height 4s, transform 2s;
}

.div2 {
    margin: 130px;
    width: 910px;
    height: 210px;
    background-color: yellowgreen;
    color: black;
    border: 2px solid black;
}


.div1:hover {
    width: 300px;
    height: 200px;
    transform: rotate(180deg);
}


.div1#myDiv1 {
    transform:rotate(15deg);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 2px dotted black;
    text-align: center;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: 60px;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    text-align: center;
}

img {
    padding: 5px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.button {
    background-color: green;
    border: none;
    color: white;
    padding: 13px 32 px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
} 

.button1 {
    background-color: white;
    color: black;
    border: 2px solid yellow;
}

.button1:hover {
    background-color: yellow;
    color: black;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid lime;
}

.button2:hover {
    background-color: lime;
    color: black;
}

.button3 {
    background-color: white;
    color: black;
    border: 2px solid pink;
}

.button3:hover {
    background-color: pink;
    color: black;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid blue;
}

.button4:hover {
    background-color: blue;
    color: black;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border: 1px solid gray;
    margin: 0 4px;
    font-size: 21px;
}

.pagination a.active {
    background-color: greenyellow;
    color: black;
}

.pagination a:hover:not(.active) {background-color: violet;}

.bb {
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-color: limegreen;
}

:root {
    --white: #000000;
    --blue: #1e90ff;
}

.div3 {
    background-color: var(--white);
    color: var(--blue);
    text-align: center;
    border: 2px solid white;
    padding: 20px;
}